  #Template from: https://github.com/ThreeDeeJay/GitHub-Actions-build-templates/blob/main/Windows-CMake.yml
  name: Build
  
  env:
    GH_TOKEN: ${{github.token}}
    Branch: ${{github.ref_name}}
    Platform: x64
    Configuration: Release
    Artifacts: build\Release
    Title: Vulkan Stereoscopy
#    VULKAN_VERSION: 1.1.130.0
#    VULKAN_VERSION: 1.2.198.1
    VULKAN_VERSION: 1.3.296.0

  on:
    push:
      Branches: $Branch
    pull_request:
      Branches: $Branch
    workflow_dispatch:
  
  jobs:
    Windows:
      runs-on: windows-2025
      steps:
  
      - name: Clone repo and submodules
        run: git clone --recurse-submodules https://${{github.repository_owner}}:${{github.token}}@github.com/${{github.repository}}.git "${{github.workspace}}" --branch ${{env.Branch}}
  
      - name: Get current date, commit hash and count
        run: |
          echo "FirstCommitHash=$(git rev-list --max-parents=0 HEAD --first-parent)" >> $env:GITHUB_ENV
          echo "CommitHash=$(git rev-parse HEAD)" >> $env:GITHUB_ENV
          echo "CommitHashShort=$(git rev-parse --short=7 HEAD)" >> $env:GITHUB_ENV
          echo "CommitCount=$(git rev-list --count HEAD)" >> $env:GITHUB_ENV
          echo "CommitDate=$(git show -s --date=format:'%Y-%m-%d' --format=%cd)" >> $env:GITHUB_ENV
  
      - name: Install vcpkg
        uses: lukka/run-vcpkg@v11.5
        with:
          vcpkgGitCommitId: c2aeddd80357b17592e59ad965d2adf65a19b22f
  
      - name: Install dependencies
        run: |
          vcpkg --classic install sdl2[vulkan] glslang glm vulkan

      - name: List files
        run: ls -R

#      - name: Cache Vulkan SDK
#        id: cache-vulkan-sdk
#        uses: actions/cache@v5
#        with:
#          path: "C:\\VulkanSDK\\${{env.VULKAN_VERSION}}"
#          key: VulkanSDK
      - name: Install Vulkan SDK
#        if: steps.cache-vulkan-sdk.outputs.cache-hit != 'true'
        shell: powershell
        run: |
          echo "VULKAN_SDK=C:\VulkanSDK\${{env.VULKAN_VERSION}}" >> $env:GITHUB_ENV
          Invoke-WebRequest -Method Get -Uri https://web.archive.org/web/20241111195115if_/https://sdk.lunarg.com/sdk/download/${{env.VULKAN_VERSION}}/windows/VulkanSDK-${{env.VULKAN_VERSION}}-Installer.exe -OutFile VulkanSDK.exe -UseBasicParsing
          Start-Process -Wait ./VulkanSDK.exe -ArgumentList "--accept-licenses", "--default-answer", "--confirm-command install"
# 1.2 Invoke-WebRequest -Method Get -Uri https://web.archive.org/web/20221227095707if_/https://sdk.lunarg.com/sdk/download/${{env.VULKAN_VERSION}}/windows/VulkanSDK-${{env.VULKAN_VERSION}}-Installer.exe -OutFile VulkanSDK.exe -UseBasicParsing
# 1.2 Start-Process -Wait ./VulkanSDK.exe -ArgumentList "--accept-licenses", "--default-answer", "--confirm-command install"
# 1.1 https://web.archive.org/web/20200413110014if_/https://sdk.lunarg.com/sdk/download/${{env.VULKAN_VERSION}}/windows/VulkanSDK-${{env.VULKAN_VERSION}}-Installer.exe
# 1.1 Start-Process -Wait ./VulkanSDK.exe -ArgumentList "/S"

      - name: List files
        run: ls -R "${{env.VULKAN_SDK}}"

      - name: Configure
        run: cmake -A "${{env.Platform}}" -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.Configuration}} -DCMAKE_PREFIX_PATH="C:\VulkanSDK\${{env.VULKAN_VERSION}};vcpkg_installed\${{env.Platform}}-windows\share;vcpkg\installed\${{env.Platform}}-windows\share"
  
      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.Configuration}}
  
      - name: Deploy
        shell: cmd
        run: |
          If exist "vcpkg_installed\${{env.Platform}}-windows\bin\*.dll" (copy "vcpkg_installed\${{env.Platform}}-windows\bin\*.dll" "${{env.Artifacts}}")
          If exist "vcpkg\installed\${{env.Platform}}-windows\bin\*.dll" (copy "vcpkg\installed\${{env.Platform}}-windows\bin\*.dll" "${{env.Artifacts}}")
          If exist "build\shaders\*.spv" (xcopy "build\shaders\" "${{env.Artifacts}}\shaders\")
  
      - name: Upload Installer Artifact to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: "${{env.Title}}_r${{env.CommitCount}}@${{env.CommitHashShort}}"
          path: "${{github.workspace}}/${{env.Artifacts}}/"
  
      - name: Compress artifacts
        run: |
          mkdir Release
          7z a "Release/${{env.Title}}.zip" "${{github.workspace}}/${{env.Artifacts}}/*" -mx=9
          cp "Release/${{env.Title}}.zip" "Release/${{env.Title}}_r${{env.CommitCount}}@${{env.CommitHashShort}}.zip"
  
      - name: Purge tag - latest-${{env.Branch}}
        run: |
          gh release delete latest-${{env.Branch}} --repo ${{github.repository}} --cleanup-tag --yes || true
  
      - name: Release - archive
        run: |
          gh release create archive --repo ${{github.repository}} --target ${{env.FirstCommitHash}} --latest=false --prerelease --title "${{env.Title}} build archive" --notes "Latest build: https://github.com/${{github.repository}}/releases/latest
          Build log: https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}" || true
          gh release upload archive --repo ${{github.repository}} --clobber "Release/${{env.Title}}_r${{env.CommitCount}}@${{env.CommitHashShort}}.zip"
  
      - name: Release - latest-${{env.Branch}}
        run: |
          gh release create latest-${{env.Branch}} --repo ${{github.repository}} --target ${{env.CommitHash}} --generate-notes --latest=true --title "${{env.Title}} r${{env.CommitCount}}@${{env.CommitHashShort}}" --notes "Build archive: https://github.com/${{github.repository}}/releases/tag/archive
          Build log: https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}"
          gh release upload latest-${{env.Branch}} --repo ${{github.repository}} --clobber "Release/${{env.Title}}.zip"
