#Template from: https://github.com/ThreeDeeJay/GitHub-Actions-build-templates/blob/main/Windows-CMake.yml
name: Build

env:
  GH_TOKEN: ${{github.token}}
  Branch: ${{github.ref_name}}
  Platform: x64
  Configuration: Release
  Artifacts: build/Release
  Title: Vulkan Stereoscopy

on:
  push:
    Branches: $Branch
  pull_request:
    Branches: $Branch
  workflow_dispatch:

jobs:
  Windows:
    runs-on: windows-2025
    steps:

    - name: Clone repo and submodules
      run: git clone --recurse-submodules https://${{github.repository_owner}}:${{github.token}}@github.com/${{github.repository}}.git "${{github.workspace}}" --branch ${{env.Branch}}

    - name: Get current date, commit hash and count
      run: |
        echo "FirstCommitHash=$(git rev-list --max-parents=0 HEAD --first-parent)" >> $env:GITHUB_ENV
        echo "CommitHash=$(git rev-parse HEAD)" >> $env:GITHUB_ENV
        echo "CommitHashShort=$(git rev-parse --short=7 HEAD)" >> $env:GITHUB_ENV
        echo "CommitCount=$(git rev-list --count HEAD)" >> $env:GITHUB_ENV
        echo "CommitDate=$(git show -s --date=format:'%Y-%m-%d' --format=%cd)" >> $env:GITHUB_ENV

    - name: Cache Vulkan SDK
      id: cache-vulkan-sdk
      uses: actions/cache@v5
      with:
        path: "C:\\VulkanSDK\\1.4.335.0"
        key: VulkanSDK
    - name: Install Vulkan SDK
      if: steps.cache-vulkan-sdk.outputs.cache-hit != 'true'
      shell: powershell
      run: |
        Invoke-WebRequest -Method Get -Uri https://sdk.lunarg.com/sdk/download/1.4.335.0/windows/vulkansdk-windows-X64-1.4.335.0.exe -OutFile VulkanSDK.exe -UseBasicParsing
        Start-Process -Wait ./VulkanSDK.exe -ArgumentList "--accept-licenses", " --default-answer", " --confirm-command install"

